{% load static %}
<html>
	<head>
	<script async defer crossorigin="anonymous" src="https://connect.facebook.net/bn_IN/sdk.js#xfbml=1&version=v4.0"></script>
	<script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
    <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <!-- Compiled and minified JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
	<!--Import Google Icon Font-->
	<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
	<!--Import materialize.css-->
	<link type="text/css" rel="stylesheet" href="css/materialize.min.css"  media="screen,projection"/>
	<!--Let browser know website is optimized for mobile-->
	<meta name="viewport" content="width=device-width, initial-scale=1.0"/>
	<script src="https://polyfill.io/v3/polyfill.min.js?features=es6"></script>
	<script id="MathJax-script" async src="https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-mml-chtml.js"></script>
	<script>
		$(document).ready(function(){	
			$('.materialboxed').materialbox();
			$('.collapsible.expandable').collapsible({'accordion':false});
			$('.dropdown-trigger').dropdown();
			$('.sidenav').sidenav();
			$('.tabs').tabs();
  		});
	</script>
	<style>
		body  {
		background-image: url("{% static "MyPost.jpg" %}");
		background-attachment: fixed;
		background-size: 100% 100%;
		}
		pre
		{
		background-color: whitesmoke;
		padding-left: 20px;
		border: 1px dashed #dedede;
    	border-radius: 10px;
		overflow: auto;
		}
	</style>
	</head>
	<body>
		<ul id="dropdown1" class="dropdown-content blue-grey lighten-3">
			<li><a class="waves-effect waves-light" href="/SL_View/"><span class="grey-text text-lighten-5">Basic Supervised Learning</span></a></li>
			<li class="divider"></li>
			<li><a class="waves-effect waves-light" href="/RNN_View/"><span class="grey-text text-lighten-5">Deep Learning: RNN</span></a></li>
		</ul>
		<nav style="margin-bottom: 20px;">
			<div class="nav-wrapper blue-grey lighten-2">
				<a class="waves-effect waves-light hide-on-med-and-down" href="/"><img class="materialboxed" style="margin-left: 5px; margin-top: 3px;" height="62px;" width="60px;" src="{% static "Free_Sample_By_Wix(3).png" %}"></a>

				<a class="sidenav-trigger" data-target="mobile-demo" href="#">
					<icon class="material-icons" style="margin-top: 15px;">menu</icon>
				</a>
				<ul id="nav-mobile" class="right hide-on-med-and-down">
					<li><a class="waves-effect waves-light" href="/">Introduction</a></li>
					<li><a class="waves-effect waves-light dropdown-trigger" data-target="dropdown1" href="">Supervised Learning<i class="material-icons right">arrow_drop_down</i></a></li>
					<li><a class="waves-effect waves-light" href="/UL_View/">Unsupervised Learning</a></li>
					<li><a class="waves-effect waves-light" href="/RL_View/">Reinforcement Learning</a></li>
			  	</ul>
			</div>
		</nav>


		<ul id="dropdown2" class="dropdown-content">
				<li><a class="waves-effect waves-light" href="/SL_View/"><span class="blue-grey-text text-darken-1">Basic Supervised Learning</span></a></li>
				<li class="divider"></li>
				<li><a class="waves-effect waves-light" href="/RNN_View/"><span class="blue-grey-text text-darken-1">Deep Learning: RNN</span></a></li>
		</ul>
		<ul id="mobile-demo" class="sidenav">
			<li><a class="waves-effect waves-light" href="/"><span class="blue-grey-text text-darken-2">Introduction</span></a></li>
			<li><a class="waves-effect waves-light dropdown-trigger" data-target="dropdown2" href=""><span class="blue-grey-text text-darken-2">Supervised Learning</span><i class="material-icons right">arrow_drop_down</i></a></li>
			<li><a class="waves-effect waves-light" href="/UL_View/"><span class="blue-grey-text text-darken-2">Unsupervised Learning</span></a></li>
			<li><a class="waves-effect waves-light" href="/RL_View/"><span class="blue-grey-text text-darken-2">Reinforcement Learning</span></a></li>
		</ul>

		{% block body %}
		{% endblock %}

		
		<script type="text/javascript" src="js/materialize.min.js"></script>
	</body>
</html>