{% extends 'base.html' %}

{% block body %}
{% load static %}
	<title>Introduction-BanglayML</title>
	<div class="row">
		<div class="col s4 m3">
			<div class="card z-depth-4">
				<div class="card-content">
					<span class="card-title activator grey-text text-darken-4" style="height: 62px;">Artificial Intelligence নিয়ে কিছু কথা</span>
					<p><a href="/AI_IntroText/">বিস্তারিত</a></p>
				</div>
				<div class="card-reveal">
					<span class="card-title grey-text text-darken-4">
						<i class="material-icons right">close</i>
					</span>
					<p>Artificial Intelligence কি? বিভিন্ন রকম intelligence সম্পর্কে হালকা ধারণা।</p>
				</div>
			</div>
		</div>

		<div class="col s4 m3">
			<div class="card z-depth-4">
				<div class="card-content">
					<span class="card-title activator grey-text text-darken-4" style="height: 62px;">Machine Learning-এ হাতেখড়ি</span>
					<p><a href="/ML_IntroText/">বিস্তারিত</a></p>
				</div>
				<div class="card-reveal">
					<span class="card-title grey-text text-darken-4">
						<i class="material-icons right">close</i>
					</span>
					<p>Machine Learning কি? বিভিন্ন রকম Machine Learning সম্পর্কে হালকা ধারণা।</p>
				</div>
			</div>
		</div>
	</div>
{% endblock %}