{% extends 'base.html' %}
{% block body %}
{% load static %}
<title>Logistic Regression-এ হাতেখড়ি-BanglayML</title>

<div class="row">
        <div class="col s10 push-s1">
            <div class="card">
                <div class="card-content">
                    <span class="card-title center-align deep-orange-text text-darken-2">Logistic Regression-এ হাতেখড়ি</span>
                    <ul class="collapsible expandable">
                        <li class="active">
                            <div class="collapsible-header blue lighten-5" style="font-size: 20px;">Blog</div>
                                <div class="collapsible-body">
                                    <p class="center-left">
                                        <img class="materialboxed" style="margin: auto;" width="300" src="{% static "logisticRegression1.jpg" %}"><br>  
                                        উপরে বাসার সাইজ বনাম বাসা ভাড়ার একটি গ্রাফ দেওয়া আছে। Linear Regression সাহায্যে বাসার সাইজ ও বাসার ভাড়ার ভেতর একটি সরলরৈখিক সম্পর্ক দেখানো হয়েছে। 
                                        এই ডাটাপয়েন্ট গুলোর উপর ভিত্তি করে যদি একটি অজানা সাইজের বাসার ভাড়া জানার দরকার হয় তাহলে আমরা linear regression এর সাহায্যে পাওয়া ঐ সরলরৈখিক সম্পর্কের সাহায্যে বাসার ভাড়া বলে দিতে পারব। এসব আসলে আমরা আগেই জেনেছি তাও পুরনো স্মৃতি ঝালাই করে নিলাম আরকি।<br> এবার নিচের গ্রাফটির দিকে খেয়াল করে দেখুনঃ
                                        <img class="materialboxed" style="margin: auto;" width="300" src="{% static "logisticRegression2.jpg" %}"><br>
                                        উপরের গ্রাফে ডট(•) আর টিক(√) দ্বারা দুটি ক্লাস বোঝানো হয়েছে। এখন মনে করুন, আপনাকে (x, y) ডাটাপয়েন্ট দেওয়া হল। আপনাকে বলে দিতে হবে এটি কোন ক্লাসের অন্তর্ভুক্ত। এই টাইপ প্রবলেমগুলোকে বলা হয় classification problem. Logistic Regression এর সাহায্যে classification problem গলো সল্ভ করা হয়।<br>
                                        এখানে হাইপোথিসিসটি এরকম- $$ h_w(x) = \begin{cases} 1, & \text{if g(w^Tx) >= 0} \\ 0, & \text{if g(w^Tx)<0} \end{cases} $$
                                        গোজামেল লাগছে? সমস্যা না, ভেঙে বলছি। এই হাইপোথিসিস সমীকরণের-
                                        $$ w^Tx = \begin{bmatrix} w_0 \\ w_1 \\ w_2 \end{bmatrix} \begin{bmatrix} 1 & x_1 & x_2 \end{bmatrix} = w_0 = w_1x_1 + w_2x_2 $$
                                        এখানে, \(w_0 + w_1x_1 + w_2x_2 = 0\) হল Decision Boundary এর সমীকরণ। নিচের গ্রাফটি দেখুন-<br><br>
                                        <img class="materialboxed" style="margin: auto;" width="300" src="{% static "logisticRegression6.jpg" %}"><br>
                                        এবার গ্রাফে ডট(•) ও টিক(√) ক্লাস দুটিকে একটি একটি সরলরেখা দ্বারা আলাদা করা হয়েছে। এই সরলরেখাটিই decision boundary। বলে রাখা ভালো, decision boundary যে সবসময় সরলরেখাই হবে এমন কোন কথা নেই।<br><br>
                                        ট্রেনিং-এর সাহায্যে আমরা decision boundary এর weight-গুলোর মান বের করব।<br>
                                        এবার আমরা g ফাংশন সম্পর্কে জানব। একে activation function বলা হয়। অনেক রকম activation function আছে। এসব ক্ষেত্রে সাধারণত activation function হিসেবে sigmoid function ব্যবহার করা হয়।<br>
                                        $$ g(w^Tx) = \frac{1}{1+e^{-w^Tx}} $$<br>
                                        এবার খেয়াল করে দেখুন যে, \( w^Tx \) এর মান যদি -∞, 0 এবং ∞ হয় তাহলে sigmoid function এর মান যথাক্রমে 0, 1/2 এবং 1 হবে।<br><br>
গ্রাফের উপর দুটি ক্লাস দেখানো হয়েছে। ধরে নিচ্ছি, হাইপোথিসিসে যখন output আসে 1 তখন টিক(√) ক্লাসকে নির্দেশ করে আর 0 আসলে সেটা ডট(•) ক্লাসকে নির্দেশ করে।
যেহেতু, ডাটাপয়েন্ট decision boundary-র উপরে গেলে sigmoid function এর মান হয় 1/2, তাই sigmoid function এর মান 1/2 থেকে উপরে হলে তা হয় টিক(√) ক্লাসের এর অন্তর্ভুক্ত। আর 1/2 এর নিচে গেলে হয় ডট(•) ক্লাসের অন্তর্ভুক্ত।<br><br>
এবার আসি ট্রেনিং প্রসেস নিয়ে। ট্রেনিং linear regression এর মতই। তবে cost function এর থেকে আলাদা। sigmoid function নিজেই নন-লিনিয়ার ফাংশন। তাই cost বনাম weight এর গ্রাফটি অনেকটি বেশী আঁকাবাঁকা হবে। local minimaও অনেক বেশী হবে। তাই global minima তে পৌছানো অনেক কঠিন হয়ে যায়। 
সেজন্য গ্রাফটিকে কিছুটা মসৃণ করে নেওয়া দরকার। log ব্যবহার করে আমরা একে কিছুটা মসৃণ করে নিতে পারি। এখন cost function টি নিম্নরূপঃ<br><br>
$$ J(w_0, w_1, ...... , w_n) = \frac{1}{m}\sum_{i=1}^m{-y_ilog(h_w(x)) - (1-y_i)log(1-h_w(x))} $$
এখানে, y=1, হলে cost function এর ফাংশনের মান পাওয়া যাবে \( -y_ilog(h_w(x)) \) থেকে, আর যদি y=0 হয় তাহলে পাওয়া যাবে 
\( (1-y_i)log(1-h_w(x)) \) থেকে।<br><br>
এখন কথা হচ্ছে যখন y=1, তখন \( h_w(x) \) এর log নিতে হচ্ছে আর যখন y=0 তখন 1- \(h_w(x)\) এর log নিতে হচ্ছে। এমনটা কেন?
কারণ, internally \( g(w^Tx) \) সবসময় টিক(√) ক্লাসের সম্ভাবনা দেয় আর যেহেতু \(-(1-y_i)log(1-h_w(x))\) এর আউটপুট discrete output দেয়, তাই আমরা একে 1 হিসেবে পাই।<br><br>
এমন না যে, ডট(•) ক্লাসের সময় \( g(w^Tx) \) আলাদাভাবে calculate করা হয়। তাই ডট(•) ক্লাসের সময় 
\( log(h_w(x)) \) না নিয়ে \( log(1-h_w(x)) \) ব্যবহার করা হয়েছে।
এটাই আমাদের প্রথম ক্লাসিফিকেশন algorithm। আজকের মত এ পর্যন্তই।<br><br>
এতক্ষণ আমরা আলোচনা করলাম আমরা যখন মডেলকে ডাটা দিব মডেল কিভাবে চিনে নিবে। কিন্তু আমরা কিভাবে মডেলকে বলব যে, এটা টিক(√) ক্লাস আর এটা ডট(•) ক্লাস?<br><br>
Linear Regression এর মত এখানেও ইনপুট ফিচার ও এক্সপেক্টেড আউটপুট দিয়ে ট্রেইন করাতে হয়। তবে Logistic Regression যেহেতু একটা ক্লাসিফিকেশন algorithm. তাই এর আউটপুট কোন নির্দিষ্ট সংখ্যা না হয়ে একটি array হয়। এখানে, array সাইজ হল মোট ক্লাসের সংখ্যা আর ভেক্টরের প্রতিটি মান ক্লাসের স্ট্যাটাসকে(মানে ইনপুট ফিচারগুলো ঐ ক্লাসের কিনা, যদি ঐ ক্লাসের হয় তাহলে স্ট্যাটাস 1 হবে আর নাহলে 0 হবে।) নির্দেশ করে।<br>
মনে করুন এখানে, array প্রথম মান দিয়ে টিক(√) ক্লাসের আউটপুট স্ট্যাটাস আর পরের মান দিয়ে ডট(•) ক্লাসের আউটপুট স্ট্যাটাস বোঝায়। তাহলে টিক(√) ক্লাসের ডাটা পয়েন্টের এক্সপেক্টেড আউটপুট হবে এরকম [1 0]. এটি টিক(√) ক্লাসের আউটপুট তাই প্রথম সংখ্যাটি 1 এবং পরের সংখ্যাটি 0। অনুরূপভাবে, ডট(•) ক্লাসের এক্সপেক্টেড আউটপুট হবে [0 1].<br><br>
ক্লাসিফিকেশন প্রবলেম হয় দুই প্রকার।<br>
• বাইনারি ক্লাসিফিকেশন<br>
• মাল্টিক্লাস ক্লাসিফিকেশন<br>
দুইটি ক্লাসের ভেতর কোন একটি অবজেক্ট নির্দিষ্ট ক্লাসের অন্তর্ভুক্ত সেটা বের করাকে বাইনারি ক্লাসিফিকেশন বলে। আমরা এতক্ষণ যে ক্লাসিফিকেশনটা দেখলাম সেটা বাইনারি ক্লাসিফিকেশন।<br>
আর কয়েকটি ক্লাসের ভেতরে কোন একটি অবজেক্ট কোন ক্লাসের অন্তর্ভুক্ত সেটা বের করাকে মাল্টিক্লাস ক্লাসিফিকেশন বলে।<br><br>
মনে করুন, আপনি গাড়ি, বাইসাইকেল আর বাইক recognition এর জন্য একটি মডেলকে ট্রেইন করছেন। আপনি যখন মডেলকে বাইক recognize করাবেন তখন বাইক বাদে বাকি দুটিকে 0 করে দিবেন। এ রকম গাড়ি আর বাইসাইকেলের বেলাতেও করবেন। ব্যস, বাকিসব আগের মতই।<br><br>
আজকের মত এ পর্যন্তই।
                                </p>
                            </div>
                        </li>
                        <li>
                            <div class="collapsible-header blue lighten-5" style="font-size: 20px;">আপনার মতামত জানান.....</div>
                            <div class="collapsible-body">
                                <div class="fb-like" data-href="http://banglayml.herokuapp.com/LogisticRegressionText/" data-width="" data-layout="standard" data-action="like" data-size="large" data-show-faces="true" data-share="true"></div><br><br>
                                <div class="fb-comments" data-href="http://banglayml.herokuapp.com/LogisticRegressionText/" data-width="550" data-numposts="5"></div>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
{% endblock %}