{% extends 'base.html' %}
{% block body %}
{% load static %}
<div class="row">
    <div class="col">
        <div class="card">
            <div class="card-content">
                <span class="card-title center-align deep-orange-text text-darken-2">Reinforcement Learning এ হাতেখড়ি</span>
                <p class="center-left">
                  কিছু হাবিজাবি কথা দিয়েই আজকের পর্বটা শুরু করি। 
                  মনে করুন, আমি আর আপনি দাবা খেলছি। 
                  আমি সাদা গুটি নিয়েছি আর আপনি কালো গুটি। আমি প্রথমে চাল দিলাম। 
                  এখন আপনার চাল দেওয়ার পালা। আপনি কি randomly একটা কিছু চাল দিয়ে দিবেন নাকি আমি প্রথমে চালটা কেন দিয়েছি সেটার পিছনে মোটিভ খুঁজে নিজের জন্য strategy তৈরি করবেন? 
                  হয়ত প্রথম চালের ক্ষেত্রে মোটিভ করতে পারবেন না কিন্তু আমার 3-4 টা চাল দেখার পর নিশ্চয় বুঝতে পারবেন আমি আসলে কি করতে যাচ্ছি। 
                  তারপর সেই অনুযায়ী আপনি আপনার strategy build করবেন। তাই না?<br><br>
                  এখন কথা হল, আপনি কিভাবে আমার দেওয়া চালের পিছনে আমার মোটিভ খুঁজে বের করবেন? 
                  আপনি আপনার বোর্ডের সামনে বসে আছেন। বোর্ডের গুটির বর্তমান position হল একটা state। 
                  বর্তমান state এ কোন একটা চাল দেওয়ার পরে আমি কি চাল দিতে পারি, তারপর আপনি কি চাল দিতে পারেন এরকম অনেকগুলো future state মনে মনে সিমুলেট করে করে আমার মোটিভ বের করবেন।<br>
                  এবার কাজের কথায় আসি। Reinforcement Learning আসলে এক ধরনের DP টাইপ algorithm যেখানে মডেল ট্রেইন হয় reward আর punishment এর দ্বারা। Supervised Learning, ট্রেনিং ডাটার সাথে লেভেলকে ফিট করার জন্য মডেলকে ট্রেইন করে। 
                  অপরদিকে, Reinforcement Learning এ মডেল/agent-কে ট্রেইন করা হয় ম্যাক্সিমাম reward পাওয়ার জন্য।<br><br>
                  সহজ ভাষায় বলতে গেলে, Reinforcement Learning এ কম্পিউটারকে এমনভাবে ট্রেইন করা হয় যেন সে ধাপে ধাপে একটি নির্দিষ্ট লক্ষ্যের দিকে efficient way তে পৌছাতে পারে।<br>
                  এভাবে ধাপে ধাপে একটি নির্দিষ্ট লক্ষ্যের দিকে পৌছানোর জন্য Markov Decision Process(MDP) ব্যবহার করা হয়।<br><br>
                  আপনি নিশ্চয়ই চিন্তা করছেন, কে এই agent? কিসের reward, কিসের punishment? এই Markov Decision Process-ই আবার কি?<br><br>
                  Agent, punishment, reward হচ্ছে এই Markov Decision Process- এর component। 
                  আমরা প্রথমে এই component গুলোকে চিনব তারপর Markov Decision Process নিয়ে আলোচনা করব।<br>
                  <span class="deep-orange-text text-darken-2">Agent:</span> শুরুতে দাবা খেলার যে উদাহরণটা দিলাম সেখানে আপনি হচ্ছেন Agent। 
                  Reinforcement Learning- এর ক্ষেত্রে agent হচ্ছে কম্পিউটার।<br>
                  <span class="deep-orange-text text-darken-2">Reward:</span> Reward হচ্ছে destination এ পৌছানোর measurement। 
                  মনে করুন, উপরের উদাহরণে দাবা খেলায় যদি আপনি জিতে যান তাহলে reward পাবেন +১০। 
                  এখন কোন একটা চাল দিলে যদি আপনি পান +৯ তারমানে এটি একটি ভালো চাল আর এতে আপনার জেতার সম্ভাবনা অনেক বেশী।
                  আবার কোন চাল দিলে reward পাবেন +৫ তারমানে এই চালটা আগের চালের মত (+৯ পাওয়া চালের মত) এত ভালো না।<br>
                  <span class="deep-orange-text text-darken-2">Punishment:</span> বুঝতেই পারছেন এটা Reward এর ঠিক উল্টো।
                  গেমের শুরু যেমন Reward value ঠিক করা হয়ে থেকে তেমন Punishment value-ও ঠিক করা হয়ে থাকে।<br>
                  <span class="deep-orange-text text-darken-2">State:</span> কোন t টাইমে দাবার বোর্ডে সব গুটির অবস্থান হল t টাইমের state.<br>
                  <span class="deep-orange-text text-darken-2">Action:</span> আপনার দেওয়া প্রতিটি চাল হচ্ছে action.<br>
                  <span class="deep-orange-text text-darken-2">Environment:</span> Agent যেখানে action নেয় সেটা হচ্ছে environment. এখানে Environment হল দাবার বোর্ড।<br>
                  <img style="margin-left: 340px;" src="{% static "RL_intro.png" %}" width="550" height="300"><br>
                  Markov Decision Process কি সেটা সরাসরি বলে ধাপে ধাপে জানব। প্রথমেই আমরা জানব <span class="deep-orange-text text-darken-2">Markov Property</span> কি?
                  <blockquote>The future is independent of the past given the present.</blockquote>
                  T টাইমে কোন স্টেট যদি অতীতের সবগুলো স্টেটের প্রয়োজনীয় সব information রাখে তাহলে ভবিষ্যতের স্টেটগুলো অতীতের কোন স্টেটের উপর নির্ভর করে না। 
                  এটাই Markov property. সুতরাং
                  <img style="margin-left: 420px;" src="{% static "e1.jpg" %}"><br><br>
                  এবার আমরা জানব <span class="deep-orange-text text-darken-2">Markov Process</span> কি? Markov Process হচ্ছে কিছু memory-less state এর sequence প্রসেস যারা markov property ক্যারি করে। 
                  (S, P) এই tuple কে markov property বলে। 
                  এখানে S হচ্ছে State Space আর P হচ্ছে Transition Probability function.<br><br>
                  দেখুন, Markov Process এ বলা হচ্ছে পরপর অনেকগুলো স্টেটের sequence. 
                  কিন্তু একটা স্টেট থেকে অনেকগুলো স্টেটে যাওয়া যেতে পারে।
                  তাই কোন স্টেট থেকে কোন স্টেটে যাওয়া বেশী লাভজনক সেটা calculate করা হয় reward ভাল্যু দিয়ে।
                  <span class="deep-orange-text text-darken-2">Markov Reward Process(MRP)</span> হচ্ছে একটা প্রসেস যেখানে আমরা কোন একটা sequence থেকে কত reward পেতে পারি সেটা calculate করা হয়।<br><br>
                  <img style="margin-left: 280px;" src="{% static "state_action.jpg" %}"><br>
                  এখানে বৃত্তগুলো স্টেট। এখন Start থেকে কোন sequence-এ End state পৌছালে সবচেয়ে বেশী Reward কালেক্ট করা যাবে সেটাই MRP এর সাহায্যে বের করা হয়। 
                  MRP- কে (S, P, R, 𝛾) দিয়েও বোঝানো যায়। 
                  γ হল Discount factor. γ∈[0,1]. এখানে R হচ্ছে Reward function-<br>
                  <img style="margin-left: 420px;" src="{% static "reward_function.jpg" %}"><br>
                  এখানে বোঝানো হয়েছে যে, t টাইমে S স্টেটে এসে R_(t+1)(যেহেতু, t সময়ে এসেছেন তাই reward পাওয়া যাবে t+1 সময়ে) Reward পাওয়ার Expectation(গাণিতিক প্রত্যাশা)। <br><br>
                  <span class="deep-orange-text text-darken-2">Markov Reward Process- এর Markov স্টেটগুলোর সাথে অই স্টেটে কি ডিসিশন নিবে বা Action নিবে সেটা যোগ দিলে হয়ে যায় Markov Decision Process.
                  যাকে (S, P, A, R, γ) দিয়ে প্রকাশ করা যায়।</span> এখানে-<br>
                  <img style="margin-left: 420px;" src="{% static "ProbabilityTransferFunction.jpg" %}"><br>
                  এখানে বোঝানো হয়েছে যে, S স্টেট থেকে A action নিয়ে S^/ স্টেটে আসার Probality(সম্ভাবনা) আর<br>
                  <img style="margin-left: 420px;" src="{% static "reward_function1.jpg" %}"><br>
                  এটা আগের(MRP- এর) Reward function এর মতই তবে তখন ডিসিশন বা Reward টার্মটা সংযুক্ত ছিল না, এখন আছে।<br>
                  এই Markov Decision Process- ই Reinforcement Learning- এর একেবারে basic structure.<br><br>
                  Reinforcement Learning-এ ব্যবহৃত কিছু algorithm –<br>
                  • Q-Learning<br>
                  • State-Action-Reward-State-Action(SARSA)<br>
                  • Deep Q-Network(DQN)<br>
                  আমরা পরবর্তী পর্বগুলোতে এই algorithm গুলো নিয়ে আলোচনা করব। আজকের মত এইটুকুই।
                </p>
            </div>
        </div>
    </div>
</div>
                
{% endblock %}