{% extends 'base.html' %}
{% load static %}
{% block body %}
	<title>Reinforcement Learning-BanglayML</title>
	<div class="row">
		<div class="col s4 m3">
			<div class="card">
				<div class="card-image waves-effect waves-block waves-light">
					<img class="activator" src="{% static "background.jpeg" %}"  width="340" height="170">
				</div>
				<div class="card-content">
					<span class="card-title activator grey-text text-darken-4">Reinforcement Learning এ হাতেখড়ি</span>
					<p><a href="/RL_IntroText/">আরও পড়ুন</a></p>
				</div>
				<div class="card-reveal">
					<span class="card-title grey-text text-darken-4">Reinforcement Learning এ হাতেখড়ি
						<i class="material-icons right">close</i>
					</span>
					<p>Reinforcement Learning কি? কিছু ছোটখাট terminology.</p>
				</div>
			</div>
		</div>
	
		<div class="col s4 m3">
			<div class="card">
				<div class="card-image waves-effect waves-block waves-light">
					<img class="activator" src="{% static "1.jpg" %}" width="340" height="200">
				</div>
				<div class="card-content">
					<span class="card-title activator grey-text text-darken-4">Q-Learning algorithm</span>
					<p><a href="/RL_Q_learningText/">আরও পড়ুন</a></p>
				</div>
				<div class="card-reveal">
					<span class="card-title grey-text text-darken-4">Q-Learning algorithm
						<i class="material-icons right">close</i>
					</span>
					<p>Q-learning কি? Q-learning বেসিকস এবং কিভাবে এটা কাজ করে</p>
				</div>
			</div>
		</div>  
    </div>
{% endblock %}