{% extends 'base.html' %}
{% block body %}
{% load static %}
	<title>Reinforcement Learning-BanglayML</title>
	<div class="row">
		<div class="col s4 m3">
			<div class="card z-depth-4">
				<div class="card-content">
					<span class="card-title activator grey-text text-darken-4" style="height: 62px;">Reinforcement Learning এ হাতেখড়ি</span>						<p><a href="/RL_IntroText/">বিস্তারিত</a></p>
				</div>
				<div class="card-reveal">
					<span class="card-title grey-text text-darken-4">
						<i class="material-icons right">close</i>
					</span>
					<p>Reinforcement Learning কি? কিছু ছোটখাট terminology.</p>
				</div>
			</div>
		</div>
	
		<div class="col s4 m3">
			<div class="card z-depth-4">
				<div class="card-content">
					<span class="card-title activator grey-text text-darken-4" style="height: 62px;">Q-Learning algorithm</span>
					<p><a href="/RL_Q_learningText/">বিস্তারিত</a></p>
				</div>
				<div class="card-reveal">
					<span class="card-title grey-text text-darken-4">
						<i class="material-icons right">close</i>
					</span>
					<p>Q-learning কি? Q-learning বেসিকস এবং কিভাবে এটা কাজ করে</p>
				</div>
			</div>
		</div>
		
		<div class="col s4 m3">
			<div class="card z-depth-4">
				<div class="card-content">
					<span class="card-title activator grey-text text-darken-4" style="height: 62px;">DQN এ হাতেখড়ি</span>
					<p><a href="/DQN_IntroText/">বিস্তারিত</a></p>
				</div>
				<div class="card-reveal">
					<span class="card-title grey-text text-darken-4">
						<i class="material-icons right">close</i>
					</span>
					<p>Q-learning এর সীমাবদ্ধতা। DQN কি? কেন এর প্রয়োজন?</p>
				</div>
			</div>
		</div>

		<div class="col s4 m3">
			<div class="card z-depth-4">
				<div class="card-content">
					<span class="card-title activator grey-text text-darken-4" style="height: 62px;">DQN কিভাবে ট্রেইন হয়</span>
					<p><a href="/DQN_TrainingText/">বিস্তারিত</a></p>
				</div>
				<div class="card-reveal">
					<span class="card-title grey-text text-darken-4">
						<i class="material-icons right">close</i>
					</span>
					<p>DQN কিভাবে ট্রেইন হয়? ধাপে ধাপে</p>
				</div>
			</div>
		</div>
    </div>
{% endblock %}