{% extends 'base.html' %}
{% block body %}
<title>{{ title }}</title>
	<div class="row">
		{% for i in querySet %}
			<div class="col s4 m3">
				<div class="card">
					<div class="card-content">
						<span class="card-title activator grey-text text-darken-4">{{i.title}}</span>
						<p><a href="/Text/">This is a link</a></p>
					</div>
					<div class="card-reveal">
						<span class="card-title grey-text text-darken-4">
							<i class="material-icons right">close</i>
						</span>
						<p>{{i.paragraph}}</p>
					</div>
				</div>
			</div>
		{% endfor %}
	</div>
{% endblock %}