{% extends 'base.html' %}
{% block body %}
<title>{{ title }} - BanglayML</title>
<div class="row">
    <div class="col">
        <div class="card">
            <div class="card-content">
                <span class="card-title center-align teal-text text-darken-1">{{title}}</span>
                <p class="center-left">
                    {%for i in list %}
                        {% if i|length == 2 and i.0 == '<img>' %}
                            <img class="materialboxed" width="{{i.1.width}}" height="{{i.1.height}}" src="{{i.1.upload.url}}">
                        {% elif i|length == 2 and i.0 == '<code>' %}
                            <pre>
                                <code>
                                    {{i.1.text}}
                                </code>
                            </pre>
                        {% elif i|length == 2 and i.0 == '<span>' %}
                            <span class="deep-orange-text text-darken-2">{{i.1}}</span>
                        {% elif i|length == 2 and i.0 == '<blockquote>' %}
                            <blockquote>{{i.1}}</blockquote>
                        {% elif i == '<br>' %}
                            <br>
                        {% else %}
                            {{i}}
                        {% endif %}
                    {% endfor %}
                </p>
            </div>
        </div>
    </div>
</div>
{% endblock %}