{% extends 'base.html' %}
{% block body %}
<title>{{title}} - BanglayML</title>
<div class="row">
    <div class="col s10 push-s1">
        <div class="card">
            <div class="card-content">
                <span class="card-title center-align deep-orange-text text-darken-2">{{title}}</span>
                
                <ul class="collapsible expandable">
                    <li class="active">
                        <div class="collapsible-header blue lighten-5" style="font-size: 20px;">Blog</div>
                            <div class="collapsible-body">
                                    {%for i in list %}
                                        {% if i|length == 2 and i.0 == '<img>' %}
                                            <img class="materialboxed" src="https://drive.google.com/uc?export=view&id={{i.1.Upload_Link}}" width="{{i.1.Width}}" height="{{i.1.Height}}" style="margin-left: auto; margin-right: auto; display: block;">
                                        {% elif i|length == 2 and i.0 == '<code>' %}
                                            <pre>
                                                <code>
                                                    {{i.1.code}}
                                                </code>
                                            </pre>
                                        {% elif i|length == 2 and i.0 == '<span>' %}
                                            <p class="center-left" style="font-size: 18px; display: inline;"><span class="deep-orange-text text-darken-2">{{i.1}}</span></p>
                                        {% elif i|length == 2 and i.0 == '<blockquote>' %}
                                            <blockquote>{{i.1}}</blockquote>
                                        {% elif i == '<br>' %}
                                            <br>
                                        {% else %}
                                            <p class="center-left" style="font-size: 18px; display: inline;">{{i}}</p>
                                        {% endif %}
                                    {% endfor %}
                        </div>
                    </li>
                    {% if recommendationList|length > 0 %}
                    <li>
                        <div class="collapsible-header blue lighten-5" style="font-size: 20px;">Recommendation</div>
                        <div class="collapsible-body">
                            {% for aaa in recommendationList %}
                            <a href="{{aaa.recommendation_link}}">{{aaa.recommendation_title}}</a><br>
                            {% endfor %}
                        </div>
                    </li>
                    {% endif %}
                    <li>
                        <div class="collapsible-header blue lighten-5" style="font-size: 20px;">আপনার মতামত জানান.....</div>
                        <div class="collapsible-body">
                            <div class="fb-like" data-href="http://banglayml.herokuapp.com/{{card_info_ID}}/" data-width="" data-layout="standard" data-action="like" data-size="large" data-show-faces="true" data-share="true"></div><br><br>
                            <div class="fb-comments" data-href="http://banglayml.herokuapp.com/{{card_info_ID}}/" data-width="550" data-numposts="5"></div>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>
{% endblock %}