{% extends 'base.html' %}
{% block body %}
<title>{{title}} - BanglayML</title>
<div class="row">
    <div class="col s10 push-s1">
        <div class="card">
            <div class="card-content">
                <span class="card-title center-align teal-text text-darken-2">{{title}}</span>
                <ul class="collapsible expandable">
                    <li class="active">
                        <div class="collapsible-header blue-grey lighten-5" style="font-size: 20px;">Blog</div>
                            <div class="collapsible-body">
                                    {%for i in list %}
                                        {% if i|length == 2 and i.0 == '<img>' %}
                                            <img class="materialboxed responsive-img" src="https://drive.google.com/uc?export=view&id={{i.1.Upload_Link}}" width="{{i.1.Width}}" height="{{i.1.Height}}" style="margin-left: auto; margin-right: auto; display: block;">
                                        {% elif i|length == 2 and i.0 == '<code>' %}
                                            <pre>
                                                <code>
                                                    {{i.1.code}}
                                                </code>
                                            </pre>
                                        {% elif i|length == 2 and i.0 == '<span>' %}
                                            <p class="flow-text center-left" style="font-size: 18px; display: inline;"><span class="teal-text">{{i.1}}</span></p>
                                        {% elif i|length == 2 and i.0 == '<blockquote>' %}
                                            <blockquote style="font-size: 18px;">{{i.1}}</blockquote>
                                        {% elif i == '<br>' %}
                                            <br>
                                        {% else %}
                                            <p class="flow-text center-left" style="font-size: 18px; display: inline;">{{i}}</p>
                                        {% endif %}
                                    {% endfor %}
                        </div>
                    </li>
                    {% if recommendationList|length > 0 %}
                    <li>
                        <div class="collapsible-header blue-grey lighten-5" style="font-size: 20px;">Recommendation</div>
                        <div class="collapsible-body">
                            {% for aaa in recommendationList %}
                            <a href="{{aaa.reference_link}}" target="_blank"><span class="flow-text">{{aaa.reference_title}}</span></a><br>
                            {% endfor %}
                        </div>
                    </li>
                    {% endif %}
                    <li>
                        <div class="collapsible-header blue-grey lighten-5" style="font-size: 20px;">আপনার মতামত জানান.....</div>
                        <div class="collapsible-body">
                            <div class="row">
                                <div class="col s0 m3 l8">
                                    <div class="fb-like" data-href="http://banglayml.herokuapp.com/{{card_info_ID}}/" data-width="" data-layout="button_count" data-action="like" data-size="large" data-show-faces="true" data-share="true"></div><br><br>
                                    <div class="fb-comments" data-href="http://banglayml.herokuapp.com/{{card_info_ID}}/" data-width="" data-numposts="5"></div>
                                </div>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>
{% endblock %}